
@font-face
  font-family: 'Montserrat'
  src: url('../fonts/Montserrat/Montserrat-Bold.woff2') format("woff2"), url('../fonts/Montserrat/Montserrat-Bold.woff') format("woff")
  font-weight: bold
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Montserrat'
  src: url('../fonts/Montserrat/Montserrat-Regular.woff2') format("woff2"), url('../fonts/Montserrat/Montserrat-Regular.woff') format("woff")
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Montserrat'
  src: url('../fonts/Montserrat/Montserrat-Medium.woff2') format("woff2"), url('../fonts/Montserrat/Montserrat-Medium.woff') format("woff")
  font-weight: 500
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Montserrat'
  src: url('../fonts/Montserrat/Montserrat-SemiBold.woff2') format("woff2"), url('../fonts/Montserrat/Montserrat-SemiBold.woff') format("woff")
  font-weight: 600
  font-style: normal
  font-display: swap


@font-face
  font-family: 'Montserrat'
  src: url('../fonts/Montserrat/Montserrat-BoldItalic.woff2') format("woff2"), url('../fonts/Montserrat/Montserrat-BoldItalic.woff') format("woff")
  font-weight: bold
  font-style: italic
  font-display: swap

@font-face
  font-family: 'Montserrat'
  src: url('../fonts/Montserrat/Montserrat-ExtraBoldItalic.woff2') format("woff2"), url('../fonts/Montserrat/Montserrat-ExtraBoldItalic.woff') format("woff")
  font-weight: 800
  font-style: italic
  font-display: swap

@font-face
  font-family: 'Montserrat'
  src: url('../fonts/Montserrat/Montserrat-ExtraBold.woff2') format("woff2"), url('../fonts/Montserrat/Montserrat-ExtraBold.woff') format("woff")
  font-weight: 800
  font-style: normal
  font-display: swap



@font-face
  font-family: 'Inter'
  src: url('../fonts/Inter/Inter-Regular.woff2') format("woff2"), url('../fonts/Inter/Inter-Regular.woff') format("woff")
  font-weight: normal
  font-style: normal
  font-display: swap


@font-face
  font-family: 'Inter'
  src: url('../fonts/Inter/Inter-Medium.woff2') format("woff2"), url('../fonts/Inter/Inter-Medium.woff') format("woff")
  font-weight: 500
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Inter'
  src: url('../fonts/Inter/Inter-SemiBold.woff2') format("woff2"), url('../fonts/Inter/Inter-SemiBold.woff') format("woff")
  font-weight: 600
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Inter'
  src: url('../fonts/Inter/Inter-ExtraBold.woff2') format("woff2"), url('../fonts/Inter/Inter-ExtraBold.woff') format("woff")
  font-weight: 800
  font-style: normal
  font-display: swap




@font-face
  font-family: 'icomoon'
  src: url('../fonts/icomoon/icomoon.eot?88gqr2')
  src: url('../fonts/icomoon//icomoon.eot?88gqr2#iefix') format("embedded-opentype"), url('../fonts/icomoon//icomoon.ttf?88gqr2') format("truetype"), url('../fonts/icomoon//icomoon.woff?88gqr2') format("woff"), url('../fonts/icomoon//icomoon.svg?88gqr2#icomoon') format("svg")
  font-weight: normal
  font-style: normal
  font-display: block

[class^="icon-"], [class*=" icon-"]
  font-family: 'icomoon' !important
  speak: never
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1


.icon-angle-down:before
  content: "\e900"

.icon-angle-left:before
  content: "\e901"

.icon-angle-right:before
  content: "\e902"

.icon-arrow:before
  content: "\e903"

.icon-brackets-left:before
  content: "\e904"

.icon-brackets-right:before
  content: "\e905"

.icon-check:before
  content: "\e906"

.icon-cross:before
  content: "\e907"

.icon-refresh:before
  content: "\e908"

.icon-search:before
  content: "\e909"

.icon-runet
    display: inline-block
    vertical-align: middle
    width: 24px
    height: 24px
    background: url(../img/RuNet-rating.png)
    &:before
      content: ''