@import "vars"
@import "fonts"
@import "base"
// 2 - END of Tags styles and General styles ----------------------------------------------------------
// 3 - BEGIN of header ----------------------------------------------------------



.header
	position: relative
	padding: 24px 0
	background: #fff
	transition: all .3s
		

	&-fixed
		position: fixed
		left: 0
		right: 0
		top: 0
		padding: 15px 0
		z-index: 9999
		transform: translate(0 0)
		background: #fff
		box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08)
		z-index: 1000

		&+.content
			padding-top: 64px

	&-wrap
		display: flex
		justify-content: space-between
		align-items: center

	&-rigth
		display: flex
		flex-wrap: wrap
		align-items: center


		&__tel
			margin-left: 24px
			font-weight: 800
			font-size: 26px
			line-height: 32px
			color: #000



		

.btn
	display: inline-block
	padding: 21px 40px 19px
	font-weight: 600
	font-size: 18px
	line-height: 27px
	color: #fff
	text-align: center
	text-transform: uppercase
	background: linear-gradient(180deg, #19D2A6 0%, #15A9B3 100%)
	box-shadow: 0px 4px 0px #0E969E, 0px 16px 64px rgba(30, 222, 211, 0.32), inset 0px 0px 8px rgba(255, 255, 255, 0.6)
	border-radius: 4px
	outline: none
	border: none
	font-family: Inter

	&:hover, &:focus
		color: #fff
		opacity: 1
		outline: none
		box-shadow: 0px 6px 0px #0E969E, 0px 16px 64px rgba(30, 222, 211, 0.32), inset 0px 0px 24px rgba(255, 255, 255, 0.6)

		&:active
			box-shadow: 0px 2px 0px #0E969E, inset 0px 0px 8px rgba(255, 255, 255, 0.6)

	&-transparent
		text-align: center
		letter-spacing: 0.02em
		color: #0E969E
		border: 1px solid #A5D4D7
		background: transparent
		box-shadow: none

		&:hover, &:focus
			color: #0E969E
			box-shadow: none
			border-color: #0E969E
			outline: none

			&:active
				background: #0E969E
				box-shadow: none
				color: #fff
				opacity: 1
				outline: none

		&:active
			background: #0E969E
			box-shadow: none
			color: #fff
			opacity: 1
			outline: none


		&__white
			border: 1px solid rgba(255, 255, 255, 0.2)
			color: #fff

			&:hover, &:focus
				color: #1965d7
				box-shadow: none
				border-color: #fff
				background: #fff

			&:active
				box-shadow: none


	&-small
		padding: 14px 18px 13px
		font-size: 16px
		line-height: 19px
		font-weight: normal
		text-transform: none


	&-filter
		display: inline-flex
		align-items: center
		justify-content: center

		.icon
			font-size: 20px
			display: inline-block
			margin-left: 16px
			vertical-align: middle

	&-refresh
		display: inline-flex
		align-items: center
		justify-content: center

		.icon
			margin-left: 20px

	&-send
		display: inline-flex
		align-items: center
		justify-content: center

		.icon
			margin-left: 16px


.mobile-menu
	display: none

.main
	&-menu

		ul
			list-style: none

			li
				display: inline-block
				margin: 0 18px

				a
					display: inline-block
					font-size: 18px
					line-height: 20px

					&:hover ,&.active
						color: #0E969E
						opacity: 1

				&.drop

					.container
						width: 100%

					ul
						display: flex
						justify-content: space-between

					a
						position: relative
				
						&:before
							content: ''
							position: absolute
							left: -15px
							right: -15px
							height: 40px
							bottom: -40px
							background-color: transparent
						

					


	&-header
		margin-bottom: 48px
		padding-left: 24px
		border-left: 4px solid $main

		p
			font-family: Inter
			font-size: 20px
			line-height: 26px

.drop-menu
	opacity: 0
	visibility: hidden
	height: 0
	position: absolute
	top: 100%
	left: 0
	right: 0
	justify-content: space-between
	padding: 22px 0 22px
	background: #fff
	transition: all .1s
	transform: translateY(-60px)
	z-index: -10
	box-shadow: inset 0 5px 15px -5px rgba(186, 200, 219, 0.48)
	


	&.active
		display: flex
		opacity: 1
		visibility: visible
		height: auto
		transform: translateY(0)
		z-index: 10



.banner
	padding: 72px 0

	&-wrap
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		align-items: flex-start

	&-text
		width: 56%

	&-btn
		display: flex
		flex-wrap: wrap
		align-items: center
		margin-bottom: 48px

		.btn
			margin-right: 16px

			&:last-child
				margin: 0


	
	&-media
		width: 38%

	&-menu
		display: flex
		flex-wrap: wrap
		list-style: none

		li
			margin-right: 24px

			&:last-child
				margin-right: 0

			a
				position: relative
				padding-bottom: 3px
				display: inline-block
				font-size: 20px
				line-height: 26px
				color: #848E99
				font-family: Inter

				&:before
					content: ''
					position: absolute
					left: 0
					right: 0
					bottom: 0
					height: 3px
					background: #CED9E9

				&:hover
					opacity: 1
					color: #3B4256

					&:before
						height: 5px
						bottom: -2px



.row
	margin-left: -14px
	margin-right: -14px

	[class^='col-']
		padding-left: 14px
		padding-right: 14px


.section
	padding: 64px 0

	&-grey
		background: #F5F8FA

	.h2, h2
		margin: 0 0 56px

		a
			position: relative
			display: inline-block
			padding-right: 34px
			color: #000

			&:before
				content: ''
				position: absolute
				top: 19px
				right: 0
				width: 24px
				height: 24px
				border-right: 1px solid #000
				border-bottom: 1px solid #000
				transform: rotate(-45deg)

			span
				border-bottom: 3px solid #CED9E9


	&-dark
		background: #27272F

		.h2, h2
			color: #fff
			
			a
				color: #fff

				&:before
					border-color: #fff

	&-about
		padding: 72px 0


	&.clients
		
		.h2 ,h2
			margin-bottom: 32px


.inner

	.header
		position: relative
		box-shadow: 0px 6px 24px rgba(186, 200, 219, 0.48)
		z-index: 1001

		&-fixed
			position: fixed

	.banner
		padding: 64px 0 32px

		&-wrap
			align-items: center

	.main-header
		margin: 0
		width: calc(100% - 320px)

	.section
		.h2, h2
			color: #000
		&-grey
			padding: 32px 0

			.h2, h2
				color: #000

		&-about
			padding: 72px 0

			&.clients
				padding-bottom: 12px

			&.partners
				padding-bottom: 32px

	.advantages
		padding-bottom: 24px







.services

	&.row
		display: flex
		flex-wrap: wrap

	&-item
		position: relative
		min-height: 226px
		padding: 24px 28px
		margin-bottom: 28px
		background: #fff
		box-shadow: 0px 6px 24px rgba(186, 200, 219, 0.48)
		border-radius: 6px
		border-left: 4px solid $main
		transition: all .3s

		&:hover
			background: $main
			color: #fff
	
			.h3, .h4
				color: #fff

			.btn
				font-weight: 500
				color: #fff
				background: rgba(255, 255, 255, 0.2)
				border-color: rgba(255, 255, 255, 0.2)

			.services-item__price
				color: #fff

		>img
			position: absolute
			bottom: 0
			right: 0

		.h3
			position: relative
			margin-bottom: 8px
			transition: all .3s

		.h4
			position: relative
			margin-bottom: 8px
			transition: all .3s

		.btn
			position: relative

		&__large
			min-height: 480px

		&__term
			position: relative
			margin-bottom: 8px
			font-family: Inter
			font-size: 16px
			line-height: 20px


		&__price
			position: relative
			margin-bottom: 24px
			font-family: Inter
			font-size: 24px
			line-height: 28px
			color: #000
			transition: all .3s


.cases
	
	&.row
		display: flex
		flex-wrap: wrap

	&-item
		position: relative
		margin-bottom: 28px
		border-radius: 6px
		transition: all .3s

		&:hover
			background: #343138

			img
				opacity: 0

			.h3
				color: #fff

				a
					color: #fff

			p
				opacity: 1
				z-index: 0

			.cases-item__tags
				opacity: 1
				z-index: 0

		>img
			display: block
			border-radius: 6px
			transition: all .3s

		&__overlay
			position: absolute
			left: 0
			right: 0
			top: 0
			bottom: 0
			padding: 32px

		.h3
			margin: 0 0 12px
			color: #1F170B

		p
			position: relative
			opacity: 0
			max-width: 500px
			margin-bottom: 12px
			font-family: Inter
			color: #fff
			transition: all .3s
			z-index: -1

		&__tags
			position: relative
			opacity: 0
			list-style: none
			transition: all .3s
			z-index: -1

			li
				display: inline-block
				margin-right: 12px
				margin-bottom: 12px

				&:last-child
					margin-bottom: 0

				a
					display: block
					padding: 6px 14px
					font-family: Inter
					font-size: 16px
					line-height: 22px
					color: #FFFFFF
					background: rgba(255, 255, 255, 0.1)
					border-radius: 58px

					&:hover
						opacity: 1
						background: rgba(255, 255, 255, 0.5)
	
	&-all
		padding-top: 44px
		text-align: center


.color

	&-white
		color: #fff

		a
			color: #fff

	&-grey
		color: #555555


.bg

	&-violet
		background: #6D3FF0



.achievements
	position: relative
	display: flex
	flex-wrap: wrap

	&-item


	&-banner
		display: flex
		flex-wrap: wrap
		align-items: center
		
		min-height: 260px
		padding: 32px 48px
		background: #fff
		box-shadow: 0px 6px 24px rgba(186, 200, 219, 0.48)
		border-radius: 6px

		&__info
			width: calc(100% - 196px)
			padding-left: 32px

			&--top
				display: flex
				flex-wrap: wrap
				align-items: center
				margin-bottom: 12px

			&--years
				padding-right: 32px
				font-size: 22px
				line-height: 24px
				color: #999999

			&--rating
				display: flex
				flex-wrap: wrap
				font-family: Inter
				font-size: 16px
				line-height: 24px
				color: #0E969E	

				span
					padding-right: 12px



	&-tags
		width: 48%
		padding-left: 28px

		&__list
			list-style: none

			li
				display: inline-flex
				align-items: center
				margin-right: 28px
				margin-bottom: 28px
				padding: 16px 18px
				background: #FFFFFF
				border-radius: 6px

				span
					width: calc(100% - 32px)
					padding-left: 12px
					line-height: 24px
					color: #3B4256

				&:last-child
					margin-bottom: 0

	&-slider
		

		&__wrap
			width: 52%
			height: 100%
			position: relative

		.slick-dots
			bottom: -40px

		&__btn
			&.slick-btn
				right: 0
				bottom: -18px
				justify-content: flex-end



.priority
	position: relative

	&-menu
		width: 360px
		padding: 65px 0
		list-style: none


		>li
			display: block
			margin-bottom: 32px


			>a
				position: relative
				display: block
				padding-left: 72px
				font-weight: 600
				font-size: 28px
				line-height: 32px
				color: #000

				>span
					position: absolute
					left: 0
					top: 0
					color: #848E99
					transition: all .3s

			&:hover, &.active

				a
					opacity: 1
					color: #0E969E

				span
					color: #0E969E

		&__dropdown
			display: none
			position: absolute
			left: 360px
			top: 0
			width: calc(100% - 360px)
			list-style: none

			&.active
				display: flex
				align-items: center
				flex-wrap: wrap


				li
					margin-left: 62px
					width: 280px
					margin-bottom: 62px
					filter: grayscale(100%)
					transition: all .3s

					&:hover
						filter: grayscale(0)


.testimonials
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	margin: 0 0 64px
	
	&-block
		position: relative
		width: calc(100% - 514px)
		padding: 32px 48px
		box-shadow: 0px 6px 24px rgba(186, 200, 219, 0.48)
		border-radius: 6px
		background: #fff

	&-slider
		
		.slick-dots
			bottom: -100px
			left: -36px

	&-text
		min-height: 130px

		p
			margin-bottom: 12px
			font-family: Inter
			font-size: 16px
			line-height: 24px
			color: #222222			

	&-author
		display: flex
		flex-wrap: wrap
		align-items: center
		margin-bottom: 56px

		&__img
			width: 56px

			img
				max-height: 56px

		&__text
			padding-left: 16px

			strong
				display: block
				margin-bottom: 4px
				font-family: Inter
				font-weight: 600
				font-size: 16px
				line-height: 20px
				color: #000000

				&:last-child
					color: #555555
					margin-bottom: 0

	&-link
		display: flex
		flex-wrap: wrap
		align-items: center

		&__text
			position: relative
			display: inline-block
			padding-right: 90px
			font-family: Inter
			font-size: 20px
			line-height: 24px
			color: #25C1C4

			&:before
				content: ''
				position: absolute
				top: 12px
				right: 0
				width: 70px
				height: 1px
				background: #CCCCCC

	&-social
		width: 486px
		padding-top: 16px

		&__header
			margin-bottom: 28px
			font-size: 22px
			line-height: 24px
			color: #848E99

		&__links
			list-style: none

			li
				margin-bottom: 28px

	.slick-btn
		right: 12px


.footer
	padding: 64px 0
	background: #27272F

	&-wrap
		display: flex
		flex-wrap: wrap
		justify-content: space-between


	&-brief

		.h2
			margin-bottom: 40px
			color: #19B8C1

			a
				color: #19B8C1
				border-bottom: 3px solid rgba(255, 255, 255, 0.2)

		&__block
			display: flex
			flex-wrap: wrap
			align-items: center
			padding: 16px 18px
			border: 1px solid rgba(255, 255, 255, 0.2)
			border-radius: 6px
			transition: all .3s

			&:hover
				border-color: #fff


			span
				margin-right: 16px
				font-family: Inter
				font-size: 16px
				line-height: 24px
				color: #FFFFFF

	&-contacts

		.h5
			color: #848E99

		&__list
			list-style: none

			li
				margin-bottom: 16px
				font-weight: 600
				font-size: 18px
				line-height: 22px
				color: #fff

				&:last-child
					margin: 0

				a
					color: #fff

					&:hover
						color: #19B8C1
						opacity: 1

		&__item
			margin-bottom: 32px

			ul
				list-style: none

				li
					display: inline-block
					margin-right: 24px
					vertical-align: middle	

					&:last-child
						margin-right: 0

				a
					font-size: 18px
					line-height: 22px
					font-weight: 600
					color: #fff

					&:hover
						color: #19B8C1
						opacity: 1


.proposal
	display: flex
	flex-wrap: wrap

	&-banner
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		align-items: center
		padding: 32px 48px 32px 32px
		background: #1965D7
		box-shadow: 0px 12px 48px rgba(25, 101, 215, 0.24)
		border-radius: 4px
		color: #fff


		&__left
			max-width: 434px

			.h4
				margin-bottom: 12px
				color: #fff

			p
				font-family: Inter

		&__middle
			padding: 0 14px

			&--top
				display: flex
				flex-wrap: wrap
				align-items: flex-end
				margin-bottom: 6px

			&--bottom
				font-family: Inter
				font-size: 16px
				line-height: 24px
				color: #D4E0F2

	&-price
		margin-bottom: 32px
		font-weight: 600
		font-size: 28px
		line-height: 32px

		&__old
			font-family: Inter
			font-weight: 800
			font-size: 18px
			line-height: 20px
			text-decoration-line: line-through
			color: #D4E0F2

		&__sale
			margin-left: 12px
			padding: 6px 8px
			background: #FBB606
			box-shadow: 0px 2px 24px rgba(251, 182, 6, 0.24)
			border-radius: 4px
			font-weight: 600
			font-size: 18px
			line-height: 22px
			color: #000



	&-consultation
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		height: 100%
		border: 1px solid #D9D9DE
		border-radius: 6px
		text-align: center

		p
			margin-bottom: 16px
			font-family: Inter
			font-size: 16px
			line-height: 24px
			text-align: center
			color: #3B4256

		.btn
			max-width: 240px

.faq

	.h2
		margin-bottom: 16px

		&+p
			font-family: Inter
			font-size: 20px
			line-height: 26px

	&-wrap
		margin: 60px 0 0

	&-item
		display: block
		position: relative
		margin-bottom: 28px
		padding: 20px 56px 20px 20px
		font-size: 18px
		line-height: 22px
		font-weight: 600
		color: #000
		background: #fff
		box-shadow: 0px 6px 24px rgba(186, 200, 219, 0.48)
		border-radius: 6px
		cursor: pointer
		transition: all .3s
		border: 1px solid transparent

		&:before
			content: '\e902'
			position: absolute
			right: 20px
			top: 15px
			width: 32px
			height: 32px
			display: flex
			align-items: center
			justify-content: center
			border: 1px solid #A5D4D7
			border-radius: 50%
			color: #0E969E
			font-size: 12px
			font-weight: bold
			font-family: icomoon


		&:hover
			opacity: 1
			color: #fff
			background: #0E969E

			&:before
				content: '\e900'
				color: #fff





.brief
	padding: 24px 0 64px
	max-width: 1020px
	margin: 0 auto

	h1, .h1
		margin-bottom: 36px
		font-weight: bold
		font-size: 52px
		line-height: 56px

	&-form

		&__item
			margin-bottom: 24px

			.h4
				margin-bottom: 24px

		.form-field
			max-width: 496px

		textarea.form-field
			margin-bottom: 8px
			max-width: none

		.btn
			width: 100%
			max-width: 496px
			margin-bottom: 28px

		.agreement
			max-width: 496px



	&-list
		list-style: none

		&__item
			display: inline-block
			vertical-align: middle
			margin-right: 12px
			margin-bottom: 12px

			input[type="checkbox"], input[type="radio"]
				display: none

				&+label
					display: block
					padding: 10px 16px
					background: #F4F7FB
					border-radius: 68px
					font-family: Inter
					font-size: 16px
					line-height: 24px
					cursor: pointer


				&:checked
					&+label
						background: #0E969E
						color: #fff


.form

	&-label
		position: absolute
		left: 16px
		top: 19px
		font-family: Inter
		font-size: 16px
		line-height: 22px
		color: #3B4256
		cursor: text
		transform-origin: top left
		transform: translate(0, 0) scale(1) 
		transition: all .1s ease-in-out
		background-color: transparent
		
		z-index: -1

	&-item
		position: relative
		margin-bottom: 16px

		&.active
				
			.form-field
				border-color: #0E969E
				background: #fff
				

			.form-label
				top: -2px
				font-size: 12px
				line-height: 14px
				transform: translate(0, 8px)
				color: #0E969E
				z-index: 5

			textarea
				padding-top: 18px
	&-field
		position: relative
		background-color: transparent
		width: 100%
		height: 60px
		line-height: 60px
		padding: 5px 16px 0
		background: #EAF1F5
		border-radius: 4px
		border: none
		border: 1px solid transparent
		outline: none
		color: #000
		font-size: 16px
		line-height: 18px

		&:hover
			opacity: 1

		&:focus
			&::-webkit-input-placeholder
				opacity: 0

	textarea
		width: 100%
		height: 96px




article
	padding-bottom: 36px

	h3, .h3
		margin-bottom: 16px

	p
		max-width: 1020px
		margin-bottom: 16px
		font-family: Inter
		font-size: 16px
		line-height: 24px
		color: #3B4256


.blockquote
	display: flex
	flex-wrap: wrap
	align-items: center

	&-img
		width: 356px

	&-text
		position: relative
		width: calc(100% - 356px)
		padding-left: 136px
		padding-right: 80px

		&:before, &:after
			content: '\e904'
			position: absolute
			left: 54px
			top: -22px
			font-size: 66px
			color: #D9D9DE
			font-family: icomoon

		&:after
			content: '\e905'
			left: auto
			top: auto
			bottom: 0
			right: 0


		&__header
			margin-bottom: 26px
			font-size: 22px
			line-height: 24px
			color: #0E969E

		p
			font-family: Inter
			font-size: 16px
			line-height: 24px

			&+p
				margin-top: 16px



.advantages
	padding-bottom: 24px

	&-wrap
		display: flex
		flex-wrap: wrap

	&-item
		display: flex
		flex-wrap: wrap
		margin-bottom: 48px

		&__number
			width: 96px
			font-weight: 900
			font-size: 64px
			line-height: 64px
			background: linear-gradient(180deg, #32D8B0 0%, #23BEC8 100%)
			-webkit-background-clip: text
			-webkit-text-fill-color: transparent
			text-shadow:  0px 2px 0px rgba(14, 150, 158, .1)

		&__text
			width: calc(100% - 96px)
			padding-left: 16px

			.h4
				margin: 0 0 18px
				font-weight: normal
				font-size: 22px
				line-height: 24px
				color: #000000

			p
				font-family: Inter

				&+p
					margin-top: 16px




.step
	position: relative

	&-item
		position: relative
		margin-bottom: 36px

		&__header
			display: flex
			flex-wrap: wrap
			max-width: 744px
			font-weight: 600
			font-size: 28px
			line-height: 32px

			&--number
				width: 64px
				color: #848E99

			&--name
				width: calc(100% - 64px)
				color: #000

				span
					position: relative
					display: inline-block
					padding-right: 36px
					cursor: pointer

					&:before
						content: '\e902'
						position: absolute
						right: 0
						top: 2px
						font-family: icomoon
						font-size: 16px
		
		&.active
			.step
				&-dev
					display: block

				&-item
					&__header
						&--name

							span
								color: #0E969E

								&:before
									content: '\e900'
									color: #0E969E

					&__body
						display: block


		&__body
			display: none
			position: relative
			max-width: 744px
			padding: 42px 36px 0 0
			margin-left: 17px
			border-right: 1px solid #D9D9DE

			&:before
				content: ''
				position: absolute
				left: 0
				top: 0
				width: 1px
				height: calc(100% - 71px)
				background: #D9D9DE

		&__article
			position: relative
			padding-left: 70px
			margin-bottom: 36px



			.h3
				position: relative
				margin-bottom: 12px
				font-weight: normal
				font-size: 22px
				line-height: 24px
				color: #000000

				&:before
					content: ''
					position: absolute
					left: -70px
					top: 11px
					width: 64px
					height: 1px
					background: #D9D9DE

			p
				font-family: Inter
				font-size: 16px
				line-height: 24px


	&-dev
		display: none
		position: absolute
		right: 0
		top: 0
		padding-left: 36px
		width: calc(100% - 744px)

		&__item
			margin-bottom: 36px
			text-align: center
			font-family: Inter
			font-size: 16px
			line-height: 22px

			img
				display: block
				margin: 0 auto 24px

			&--name
				margin-bottom: 6px

			&--position
				color: #000



.clients
	
	.h2
		margin-bottom: 32px

	&-wrap
		display: flex
		flex-wrap: wrap

	&-item
		display: flex
		align-items: center
		height: 110px
		margin-bottom: 64px
		filter: grayscale(100%)
		transition: all .3s

		&:hover
			filter: grayscale(0)

		a
			&:hover
				opacity: 1

		img
			max-height: 100%




.slick
	&-dots
		width: auto
		bottom: 16px

		li
			width: auto
			height: auto
			margin: 0 8px
			display: inline-block
			vertical-align: middle
			button
				padding: 0
				width: 8px
				height: 8px
				background: #C4C4C4
				border-radius: 50%
				opacity: 1

				&:before
					display: none

			&.slick-active
				button
					width: 12px
					height: 12px
					background: #A5A5A5

	&-btn
		position: absolute
		right: 0
		bottom: -46px
		display: flex
		align-items: center
		flex-wrap: wrap

		.slick-arrows
			margin-left: 16px



	&-arrows
		display: inline-flex
		align-items: center
		justify-content: center
		width: 24px
		height: 24px
		padding: 0
		background-color: transparent
		outline: none
		border: 0
		color: #848E99

		.icon
			font-size: 20px

		&:hover
			opacity: 1
			color: #0E969E














.recommendation

	&-slider

		&__text
			position: relative
			padding: 32px 48px 48px
			border-radius: 6px
			background: #fff

			&--scroll
				height: 324px
				overflow-y: scroll
				padding-right: 24px
				


				&::-webkit-scrollbar-track
					width: 6px
					background-color: #fff


				&::-webkit-scrollbar
					width: 6px
					background: #fff


				&::-webkit-scrollbar-thumb
					width: 6px
					background: rgba(230, 230, 230, 0.6)
					border: 1px solid #CCCCCC
					border-radius: 10px

				.h4
					margin-bottom: 32px
					color: #0E969E

				p
					margin-bottom: 24px
					font-family: Inter
					font-size: 16px
					line-height: 24px
					color: #222222
			
		&__author
			padding-top: 24px
			color: #000000
			span
				display: block
				margin-bottom: 4px
				font-family: Inter
				font-weight: 600
				font-size: 16px
				line-height: 20px
					

		.slick-current

			.recommendation
				&-slider
					&__text
						box-shadow: 0px 6px 24px rgba(186, 200, 219, 0.48)



.partners

	&-wrap
		display: flex
		flex-wrap: wrap

	&-item
		margin-bottom: 40px
		&__img
			margin-bottom: 12px
			height: 60px

		p
			font-family: Inter
			font-size: 16px
			line-height: 24px


.team
	&-wrap
		display: flex
		flex-wrap: wrap

	&-item
		margin-bottom: 64px
		text-align: center

		img
			display: block
			margin: 0 auto 24px

		.h5
			margin-bottom: 6px

		.h4
			font-weight: normal
			font-size: 22px
			line-height: 24px
			color: #000



.contacts
	position: relative

	.container
		width: 100%

	&-overlay
		position: absolute
		left: 0
		right: 0
		top: 0
		bottom: 0

		.container
			height: 100%



	&-wrap
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		align-items: flex-end
		height: 100%
		

	&-map
		position: relative
		width: 60%
		height: calc(100vh - 96px)

		&:before
			content: ''
			position: absolute
			right: 0
			top: 0
			bottom: 0
			width: 28%
			background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%)
			z-index: 999

		&:after
			content: ''
			position: absolute
			left: 0
			bottom: 0
			right: 0
			height: 36%
			background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, #FFFFFF 100%)
			z-index: 999

		img
			max-height: 100%

	&-info
		position: relative
		padding-bottom: 72px
		z-index: 1000

		&__tel
			display: inline-block
			margin-bottom: 24px
			font-style: italic
			font-weight: 800
			font-size: 64px
			line-height: 68px
			letter-spacing: 0.01em
			color: #3B4256

		&__mail
			display: inline-block
			margin-bottom: 24px
			font-weight: 600
			font-size: 28px
			line-height: 32px
			color: #19B8C1

		&__address
			font-weight: 600
			font-size: 18px
			line-height: 22px

	&-form
		position: relative
		max-width: 496px
		margin: 32px 0 0
		width: 100%
		padding: 32px 0 72px
		background: #fff
		z-index: 1000

		.h3
			margin-bottom: 32px
			color: #000

		.btn
			width: 100%
			margin-bottom: 32px



#googleMap
	height: 100%
	width: 100%





select
	display: none

.jq-selectbox
	position: relative
	width: 100%

	&__select
		width: 100%
			
	.jq-selectbox__select-text
		position: relative
		padding: 20px 14px 18px 16px
		margin-bottom: 16px
		background: #EAF1F5
		border-radius: 4px
		border: 1px solid transparent
		outline: none
		color: #3B4256
		font-family: Inter
		font-size: 16px
		line-height: 22px


		&::after
			content: '\e900'
			position: absolute
			right: 18px
			top: 19px
			font-family: icomoon
			font-size: 16px
			color: #000
			


	&.opened
		.jq-selectbox__select-text
			border-color: #0e969e
			background: #fff

			&::after
				transform: rotate(180deg)

	.jq-selectbox__dropdown
		position: absolute
		top: 62px!important
		left: 0!important
		z-index: 999
		min-width: 100%
		max-width: 100%
		


		ul
			max-height: 145px !important
			list-style: none
			overflow-y: scroll
			border-top: none
			background: #eaf1f5
			border-radius: 0 0 4px 4px


			li
				padding: 14px 18px
				font-size: 14px
				line-height: 18px
				border-bottom: 1px solid rgba(256,256,256, .8)
				transition: all .3s
				cursor: pointer

				&:hover
					color: #000


			&::-webkit-scrollbar-track
				-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3)
				background-color: #EBEBEB


			&::-webkit-scrollbar
				width: 6px
				
				border-radius: 2px


			&::-webkit-scrollbar-thumb
				border-radius: 10px
				-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3)
				background: #0e969e



.attach
	margin-bottom: 16px

.attach__item
	&:last-of-type
		margin-bottom: 0px
		border-bottom: none

.attach__up
	display: inline-block
	padding: 10px 16px
	border: 0
	cursor: pointer
	font-family: Inter
	font-size: 16px
	line-height: 24px
	background: #F4F7FB
	border-radius: 68px

.attach__edit, .attach__delete
	display: none
	margin-right: 3px
	cursor: pointer

.attach__edit
	color: #2f7dfe
	

.attach__delete
	color: #000
	font-size: 24px

.attach__item--attached
	width: 50%
	margin-bottom: 10px
	.attach__up
		display: none
	.attach__delete
		position: relative
		top: 2px
		display: inline-block
		vertical-align: middle



.attach__input
	display: none

.attach__name
	display: inline-block
	font-family: Inter
	font-size: 16px
	line-height: 22px
	color: #000000



.radio-list, .check-list
	list-style: none

	&__item
		display: block
		margin-bottom: 12px

		input[type="radio"], input[type='checkbox']
			display: none

			&+label
				position: relative
				display: block
				padding: 0 0 0 28px
				cursor: pointer
				font-family: Inter
				font-size: 16px
				line-height: 24px
				color: #848E99

				&::before
					content: ''
					position: absolute
					left: 0
					top: -1px
					width: 18px
					height: 18px
					display: flex
					align-items: center
					justify-content: center
					background-color: #fff
					border-radius: 2px
					border: 2px solid #848E99


			&:checked
				&+label
					&::before
						content: '\e906'
						background: #1965D7
						border-color: #1965D7
						font-family: icomoon
						color: #fff
						font-size: 10px


		&.agreement
			padding-top: 8px
			input[type="radio"], input[type='checkbox']
				&+label
					&::before
						top: 4px


			a
				color: #0E969E
				text-decoration: underline





.filters
	display: none
	padding: 32px 0

	&-item
		font-family: Inter

		&__header
			padding-bottom: 24px
			margin-bottom: 24px
			font-size: 16px
			line-height: 22px
			color: #848E99
			border-bottom: 1px solid #D9D9DE

		&__list
			list-style: none

			li
				margin-bottom: 16px

				a
					font-size: 20px
					line-height: 26px
					color: #000

					&.active
						color: #848E99


.burger
	&-menu
		display: none
		align-items: center
		justify-content: center
		flex-wrap: wrap
		flex-direction: column
		width: 32px
		height: 32px
		margin-left: 24px
		border: 1px solid #C8D2DA
		border-radius: 50%

		span
			display: block
			width: 16px
			height: 2px
			background: #25C2C3
			margin-bottom: 6px

			&:last-child
				margin-bottom: 0

	&:hover, &:focus
		opacity: 1






















@media screen and (max-width: 1540px)
	.main-menu ul li.drop ul.drop-menu:before
		left: -20px
		width: 20px

	.main-menu ul li.drop ul.drop-menu:after
		width: 20px
		right: -20px

	
	.btn
		font-size: 15px
		line-height: 22px

	.h1, h1
		font-size: 56px
		line-height: 60px

	.h2, h2
		font-size: 48px
		line-height: 52px

	.h3, h3
		font-size: 24px
		line-height: 28px

	.main
		&-header
			p
				font-size: 18px
				line-height: 22px

	.banner
		padding: 64px 0

		&-menu

			li

				a
					font-size: 16px
					line-height: 22px

		&-btn
			margin-bottom: 36px

	.section
		padding: 56px 0

	.achievements-tags__list

		li
			margin-bottom: 16px

	.priority-menu

		>li
			>a 
				padding-left: 56px
				font-size: 24px
				line-height: 32px


		&__dropdown.active

			li
				margin-left: 32px
				width: 210px
				margin-bottom: 32px


	.proposal-banner__left
		padding-top: 16px














@media screen and (max-width: 1365px)
	.main-menu 
		ul
			li
				a
					font-size: 16px

	.h1, h1
		font-size: 48px
		line-height: 54px

	.h2, h2
		font-size: 42px
		line-height: 46px

	.h3, h3
		font-size: 20px
		line-height: 26px

	.banner
		padding: 52px 0

		&-btn

			.btn
				margin: 0 0 16px
				width: 100%

		&-menu
			li
				a
					margin-bottom: 12px

	.main-header
		margin-bottom: 32px

	.achievements-slider__btn
		left: 46%

	










@media screen and (max-width: 1199px)
	.header
		box-shadow: 0px 10px 20px rgba(7, 54, 56, 0.1)

	.burger
		&-menu
			display: inline-flex

	.mobile-menu
		display: block

	.main-menu
		display: none

	.header-rigth__tel
		font-size: 20px

	.h1, h1
		font-size: 42px
		line-height: 48px

	.h2, h2
		font-size: 34px
		line-height: 40px

	.section
		padding: 36px 0

		h2, .h2
			margin: 0 0 32px

			a
				&:before
					top: 13px
					width: 20px
					height: 20px

	.testimonials-link__text
		margin-bottom: 10px

	.inner
		.main-header
			width: auto
			margin: 0 0 16px


	.proposal
		display: block

		&-banner
			margin-bottom: 32px

		&-consultation
			padding: 24px 32px

	
	.contacts
		padding: 48px 0 0

		&-overlay
			position: static

		&-wrap
			display: block

		&-info
			padding-bottom: 0

			&__tel
				margin-bottom: 12px
				font-size: 34px
				line-height: 34px

		&-map
			width: 100%
			height: 300px

			&:before, &:after
				display: none

			img
				width: 100%
				height: 300px
				object-fit: cover














@media screen and (max-width: 992px)
	.banner

		&-wrap
			display: block

		&-text
			width: auto
			margin-bottom: 32px

		&-media
			width: auto

			img
				width: 100%

	.achievements
		display: block

		&-banner
			width: auto

		&-tags
			width: auto
			padding: 32px 0 0

		&-slider

			&__wrap
				width: auto
				padding: 0 0 1px
			&__btn
				left: auto

	.priority
		&-menu
			width: auto
			padding: 0

			&__dropdown
				position: static
				padding-top: 16px
				width: auto

				&.active
					li
						margin: 0 24px 24px 0
						width: auto
						max-width: 170px
						
	.testimonials
		display: block

		&-block
			width: auto

		&-text
			min-height: 0
			padding-bottom: 12px

		&-link
			&__text
				margin: 0

		&-social
			width: auto
			padding: 80px 0 0


	.footer
		padding: 48px 0

		&-wrap
			display: block
			text-align: center

		&-brief
			&__block
				justify-content: space-between
				margin-bottom: 16px

		&-contacts
			margin: 16px auto

	.step
		&-dev
			position: static
			width: auto

			>.row
				display: flex
				flex-wrap: wrap

	.clients
		&-item
			margin-bottom: 16px

	.proposal-banner__middle--bottom
		margin: 0 0 12px

	.proposal-price
		font-size: 24px











@media screen and (max-width: 768px)
	.header
		padding: 16px 0

		&-rigth

			.btn
				display: none
			&__tel
				font-size: 14px

	.h1, h1
		font-size: 36px
		line-height: 38px

	.services.row
		display: block

	.cases-item
		>img
			min-height: 320px
			object-fit: cover

		p
			font-size: 14px
			line-height: 18px
		
		&__tags

			li
				a
					padding: 4px 10px
					font-size: 12px
					line-height: 20px

	.achievements
		&-item
			&__wrap
		
		&-slider
			&__btn.slick-btn
				bottom: -12px
		&-banner
			display: block
			min-height: 260px
			padding: 32px 48px

			img
				margin: 0 auto
			&__info
				padding: 16px 0 0
				width: auto
				text-align: center

				&--top
					justify-content: center


	.priority-menu__dropdown.active li
		max-width: 130px

	.testimonials
		margin-bottom: 24px

		.slick-btn
			right: 0

	.testimonials-block
		padding: 24px 32px

	.testimonials-link__text
		padding: 0
		margin-bottom: 12px

		&:before
			display: none

	.footer
		padding: 48px 0 24px

		&-brief

			&__block
				flex-direction: column
				max-width: 310px
				margin: 0 auto

				span
					margin: 0 0 10px

		&-contacts
			&__item
				&:last-child
					margin-bottom: 0

				ul
					li
						margin: 0 12px 12px

	.blockquote
		display: block

		&-img
			width: auto
			padding-bottom: 16px
			text-align: center

		&-text
			width: auto
			padding-left: 0
			padding-right: 0

			&:before, &:after
				display: none

			&__header
				text-align: center 

	.recommendation

		&-slider
			&__text
				position: static
				padding: 32px 24px 32px
				margin-bottom: 32px

			[class^=col-]
				position: static

			&__wrap
				position: relative

			.slick-list
				padding-bottom: 50px

			.slick-btn
				right: 15px

			img
				margin: 0 auto

	.h2, h2
		font-size: 28px
		line-height: 34px

	.inner 
		.section-about
			padding: 42px 0